.layui-carousel>[carousel-item]>* {
    background: none!important;
    opacity: 1;
    text-align: center;
}

.layui-carousel {
    margin: 0 auto;
}

.layui-this {
    background: none;
}

body {
    /*background: #F3F6F7;*/
    /*margin: 0;*/
    padding: 0;
    background: url(../upload/bg.png);
    background-position: left top;
    -webkit-background-size: auto;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
}

#lunbo {
    height: auto;
    width: 100%;
    /* background: none!important; */
}

#lunbo div {
    text-align: center;
}

#lunbo div img {
    height: 100%;
    width: 100%;
}